.DS_Store
.git
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.lock.hcl
.terraform/
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl